@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>View our latest entries.</h2>
        <p>A third option would be nice to place here.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>News/Blog</h2>
        <p>Stay up to date with the latest news with our blog. </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Blog")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Create an account to start contributing.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home")">Learn more &raquo;</a></p>
    </div>
</div>