@* Admin Index *@


<div class="row">
    <div class="col-md-6">
        <h2>Manage Users</h2>
        <p>Add, edit, or delete users and privileges.</p></p>
        <p><a class="btn btn-default" href="@Url.Action("UserMGMT","Admin")">Manage &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Submissions Pending Approval</h2>
        <p>View the current list of submissions pending approval.</p>
        <p>Edit, contact submitter, or reject.</p>
        <p><a class="btn btn-default" href="@Url.Action("Approvals", "Admin")">Manage Submissions &raquo;</a></p>
    </div>
</div>